
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./BG/wenhao-ruan-fvliSVwbIH8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #2981bf;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    gap: 100px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 5px;
    background-color: #555;
}

section {
    padding: 2em;
    color: #fff;
    margin-left: 550px;
    margin-top: 38px;
    size: 30px;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}
